/*
 * パネルスタイル
 */
 #main-panel.main-panel-no-sidebar {
    float: left;
    width: 100%;
 }

 #main-panel.main-panel-no-sidebar .panel-header p {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    line-height: 0;
 }